<h2 class="text-3xl font-bold text-gray-900 mb-6"><%= page_title %></h2>
<% begin %>
  <%= render partial: "#{controller.model_class.to_s.downcase.underscore.pluralize}/#{params[:action]}_content" %>
<% rescue ActionView::MissingTemplate => e %>
<% end %>