-# The hidden is used to signal that no items are marked as selected
-# add a normalizier to remove blanks
-# normalizes :alergies, with: -> v { v.to_a.reject(&:blank?) }
= hidden_field_tag(field_name, nil)
%ul.list-unstyled
  - options.each do |opt|
    %li
      %label
        - if opt.is_a?(ApplicationRecord)
          = check_box_tag(field_name, opt.id, selected.include?(opt.id))
        - else
          = check_box_tag(field_name, opt, selected.include?(opt))
          
        &nbsp;
        = opt.to_s
