%form.navbar-form.navbar-right{action: index_path(@record || @records) }
  .form-group
    %input{type: "text", class: "form-control", value: params[:q], name: "q"}
    %button(type="submit" class="btn btn-default") Search
