<form class="d-flex" role="search" action="<%= index_path(@record || @records) %>">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="<%= params[:q] %>" name="q">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
